a{text-decoration:none}
h1{
  text-shadow:1px 1px 2px ;
}
body{
  background-image: -moz-linear-gradient(top, #D1EEF5, #ffffff);  
     /* Safari & Chrome */  
     background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #D1EEF5));  
     /* IE6 & IE7 */  
     filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#D1EEF5', endColorstr='#ffffff');  
     /* IE8 */  
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#D1EEF5', endColorstr='#ffffff')";  

    margin:auto;
    width: 960px;
    height: 100%;
    border-radius: 1px;
  }
.head{
  width: 1143px;
  height: 116px;
  background:url(./img/head.jpg);
  margin-left: -86px;

}
  #menu {
        font-family: Arial, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0px 0px 5px 0px;
        padding-top: 0px;
        list-style-type: none;
        background-color: #eee;
        font-size: 13px;
        height: 40px;
        border-top: 2px solid #eee;
        border-bottom: 2px solid #ccc;
      }
      #menu li {
        float:left;
      /*  padding-left: 0px;*/
        margin: 0;        
      }
      #menu li a {
        text-decoration: none;
        display: block;
        padding: 0 20px;
        line-height: 40px;
        font-size: 35px;
        color: #666;
      }
      #menu li a:hover, #menu li.active a {
        background-color: #f5f5f5;
        border-bottom: 2px solid #DDD;
        color: #999;
      }
      #menu_wrapper ul {margin-left: 12px;}
      #menu_wrapper {padding: 0 16px 0 0; background: url(images/grey.png) no-repeat right;}
      #menu_wrapper div {float: left; height: 44px; width: 12px; background: url(images/grey.png) no-repeat left;}
      
      /* Black Menu */
      #menu_wrapper.black ul {
        border-top: 2px solid #333;
        border-bottom: 2px solid #000;
        background: #333;}
      #menu_wrapper.black a {color: #CCC;}
      #menu_wrapper.black li a:hover, #menu_wrapper.black li.active a {color: #999; background: #555; border-bottom: 2px solid #444;}
      #menu_wrapper.black {background: url(images/black.png) no-repeat right;}
      #menu_wrapper.black div {background: url(images/black.png) no-repeat left;}
.people_left{
  height: 32px;
  width: auto;
  border-right:  1px dotted;
  border-bottom: 1px dotted;
  border-bottom-right-radius: 5px;
  font-family: "Microsoft JhengHei", "微軟正黑體", Arial,  "新細明體", SimSun, sans-serif;
  font-size: 20px;
}
.people_list{
  width: 170px;
  height: 122px;
}
.people_list li{
  list-style: none;
  padding-bottom: 19px;
  font-size: 20px;
}
/*.people_list p:hover{
  width: 90px;
  color: red;
  font-size: 25px;
}*/
/*.people_list li p{
  display: none;
}*/
/*.czw1{
  display: none;
}
.quyuan1{
  display: none;
}
.zjz1{
  display: none;
}
.yzd1{
  display: none;
}
.yhd1{
  display: none;
}
.cyl1{
  display: none;
}
.kongge1{
  display: none;
}*/
.left1{
  width: 220px;
  height: 600px;
  border:  1px dotted;
  float: left;
  border-radius: 1% 1% 1% 1%;
/*  background-color: #00FF66;*/
}
/*.people_list{
  margin-top: 0px;
}*/

.right1{

  width: 720px;
  height: 1000px;
  border:  1px dotted;
  float:  right;
}

